@import '~antd/es/style/themes/default.less';

html,
body,
#root {
  height: 100%;
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

@media (max-width: @screen-xs) {
  .ant-table {
    width: 100%;
    overflow-x: auto;
    &-thead > tr,
    &-tbody > tr {
      > th,
      > td {
        white-space: pre;
        > span {
          display: block;
        }
      }
    }
  }
}
.antd-pro-pages-user-login-style-main .ant-input-affix-wrapper input,.antd-pro-pages-user-register-style-main .ant-form-item-control-wrapper input, .ant-btn.antd-pro-pages-user-login-components-login-index-submit,.ant-btn.antd-pro-pages-user-register-style-submit {
  border-radius: 30px;
}

.ant-pro-global-footer-copyright {
  color: #ffffff;
}
